<script type="text/ng-template" id="partials/animal.html">
    <form class="css-form" novalidate name="animal_form" ng-submit="submitForm()">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <div class="btn-group"><!-- ng-disabled="animal_form.$invalid" -->
                    <button class='btn btn-primary dropdown-toggle' ng-disabled="animal_form.$invalid" type="submit" title="Save">{{SaveButtonText}}</button>
                </div>
                <div class="btn-group">
                    <button class='btn btn-primary dropdown-toggle' title="Cancel" ng-click="cancelForm()">Cancel</button>
                </div>
            </div>
            <div class="panel-body">
                <div ng-class="{ 'has-error': animal_form.animalName.$dirty && animal_form.animalName.$invalid }">
                    <label for="animalName" class="control-label">Animal name:</label>
                    <input type="text" 
                           class="form-control has-feedback" 
                           placeholder="Animal name" 
                           aria-describedby="basic-addon1" 
                           ng-model="animal.Name" 
                           name="Name" 
                           required unique-animal>
                </div>
                <div ng-class="{ 'has-error': animal_form.animalName.$dirty && animal_form.animalName.$invalid }">
                    <label for="animalBirthyear" class="control-label">Birthyear:</label>
                    <input type="number" 
                           class="form-control has-feedback" 
                           placeholder="Birthyear" 
                           aria-describedby="basic-addon1" 
                           ng-model="animal.YearOfBirth"
                           name="YearOfBirth"
                           required integer >
                </div>
                <div ng-class="{ 'has-error': animal_form.animalName.$dirty && animal_form.animalName.$invalid }">
                    <label for="animalSpecies" class="control-label">Species:</label>
                    <select class="form-control has-feedback" ng-model="animal.SpeciesID" ng-options="s.SpeciesID as s.Name for s in species"></select>
                    <input type="hidden" name="animalSpeciesID" value="{{animal.SpeciesID}}" />
                </div>
            </div>
            <div class="panel-footer">
            </div>
        </div>
    </form>
</script>
