<script type="text/ng-template" id="partials/animals.html">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <div class="btn-group">
                <a class='btn btn-primary dropdown-toggle' href='animal/create' title="Add new animal">Add new animal</a>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-condensed table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Year Of Birth</th>
                        <th>Age</th>
                        <th>CreationDate</th>
                        <th>Species</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="animal in pagination.currentItems">
                        <td>
                            {{animal.Id}}
                        </td>
                        <td>
                            {{animal.Name}}
                        </td>
                        <td>
                            {{animal.YearOfBirth}}
                        </td>
                        <td>
                            {{animal.age}}
                        </td>
                        <td>
                            {{animal.CreationDate | date:'HH:mm dd/MM/yyyy'}}
                        </td>
                        <td>
                            {{animal.Species.Name}}
                        </td>
                        <td style="text-align: center;">
                            <a href="#/animal/edit/{{animal.Id}}" title="Edit animal"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                            <a ng-click="deleteAnimal(animal)" title="Delete animal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div ng-bind="pagination.status" />
            <div>Average age of all animals <span ng-bind="averageage" class="badge" /></div>
        </div>
        <ul class="pull-right" uib-pagination boundary-links="true" total-items="pagination.itemsTotal" ng-model="pagination.currentPage" max-size="pagination.itemsPerPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
    </div>

</script>

